@import './settings/settings';
@import './settings/settings-assets/scrollbar';

.myContainer {
    max-width: gridValue('mainContainer');

    @extend %container;
    @extned %clearfix;
}

.ac {
    &-content {
        flex-grow: 1;
    }
    &-list {
        &__item {
            &:hover {
                .ac-thumbnail {
                    opacity: 1;
                }
            }
        }
    }
    &-title {
        margin-bottom: 10px;
    }
    &-thumbnail {
        width: 30px;
        height: 30px;
        margin-right: 25px;

        @extend %default-transition;
    }
}

.main {
    &-logo {
        padding: 22px;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #fff;
    }
}

.btn {
    border: none;
    background: none;
    &--remove-element {
        margin-top: 5px;
        color: color('danger');
        .btn__text,
        .fa-icon {
            display: inline-block;
            vertical-align: middle;
        }
        .btn__text {
            margin-right: 6px;
        }
    }
}

.fa-icon {
    display: inline-block;
    vertical-align: middle;
}

.form {
    &-group {
        display: flex;

        flex-wrap: wrap;
        justify-content: space-between;
        .form-element {
            margin-bottom: 30px;
            &--full {
                flex-basis: 100%;
            }
        }
    }
    &-element {
        &--half {
            width: 47%;
        }
    }
    &-control {
        display: block;
        width: 100%;
        margin-bottom: 25px;
        padding: 10px 12px;
        &--select {
            padding: 0;
        }
        &--file {
            @extend %visually-hidden;
        }
    }
    &-label {
        display: block;
        font-weight: bold;
        margin-bottom: 12px;
        padding-left: 10px;
        &--file-resource {
            display: flex;
            width: 100%;
            height: 40px;
            border: 1px solid color('tableBorder');
            background-color: #fff;

            align-items: center;
            .fa-icon {
                margin-right: 12px;
            }
            .form-label__text {
                margin-right: 10px;
            }
        }
        &--file-upload {
            position: relative;
            display: flex;
            height: 150px;
            font-weight: normal;
            padding-left: 0;
            border: 1px solid color('tableBorder');
            background-color: color('uploadImage');

            align-items: center;
            justify-content: center;
            .fa-icon {
                width: 30px;
                height: 30px;
            }
        }
        &__text {
            display: inline-block;
            font-size: 14px;
            vertical-align: middle;
            color: color('tableText');
        }
    }
    &-submit {
        font-weight: bold;
        padding: 18px 10px;
        text-transform: uppercase;
        color: #fff;
        background-color: color('appHeaderSearchBg');
    }
    &-message {
        line-height: normal;
        margin-bottom: 25px;
        list-style: none;
        text-decoration: none;
    }
    &-success-messages {
        color: color('success');

        @extend .form-message;
    }
    &-errors {
        color: color('danger');

        @extend .form-message;
    }
}

.icon-btn {
    border: none;
    background: none;
    .fa-icon {
        margin-right: 5px;
        vertical-align: middle;
    }
}

.action {
    &-btn {
        padding: 14px 20px;
        text-align: center;
        text-decoration: none;
        border: 1px solid color('tableBorder');
        &--preview {
            background-color: color('uploadImage');
        }
        &--publish {
            color: #fff;
            background-color: color('appHeaderSearchBg');
        }
        &--exit {
            background-color: color('exit');
        }
        &--draft {
            color: #fff;
            background-color: color('saveDraft');
        }
    }
}

.status {
    &--published {
        color: color('appHeaderSearchBg');
    }
    &--archived {
        color: color('danger');
    }
}

.table {
    display: table;
    width: 100%;
    th,
    td {
        vertical-align: middle;
        color: color('tableText');
        border: 1px solid color('tableBorder');
        &.cellpadding {
            padding: 7px;
        }
        .dropdown-toggle {
            border: none;
        }
    }
    &-heading {
        display: table-header-group;
    }
    &-cell {
        display: table-cell;
        padding: 10px;
        border: 1px solid #000;
        border-right: none;
        border-bottom: none;
        &:last-of-type {
            border-right: 1px solid #000;
        }
    }
    &-body {
        display: table-footer-group;
    }
    &-row {
        display: table-row;
        &:last-of-type {
            .table-cell {
                border-bottom: 1px solid #000;
            }
        }
    }
    &-checkbox {
        display: inline-block;
        vertical-align: middle;
    }
    &-search {
        display: block;
        width: 100%;
        padding-left: 10px;
        border: none;
        .icon-wrap {
            display: inline-block;
            background-color: color('artcleListLibraryContainsTable');
        }
    }
    &-crud-btn {
        color: color('tableCrudBtn');
    }
}
