@import './settings/settings';

.myContainer {
    position: relative;
    max-width: gridValue('mainContainer');
    margin: 0 auto;
    @extned %clearfix;
}

.ac {
    &-content {
        flex-grow: 1;
    }
    &-list {
        &__item {
            &:hover {
                .ac-thumbnail {
                    opacity: 1;
                }
            }
        }
    }
    &-filters {
        &-list {
            &__item {
                .open-indicator {
                    display: none;
                }
                .dropdown-toggle {
                    border: none;
                }
            }
        }
    }
    &-thumbnail {
        margin-right: 15px;
        opacity: 0.6;

        @extend %default-transition;
    }
}

.main {
    &-logo {
        padding: 22px;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #fff;
    }
}
