@import './settings/settings';
@import './settings/settings-assets/scrollbar';

.myContainer {
    max-width: gridValue('mainContainer');

    @extend %container;
    @extned %clearfix;
}

.ac {
    &-content {
        flex-grow: 1;
    }
    &-list {
        &__item {
            &:hover {
                .ac-thumbnail {
                    opacity: 1;
                }
            }
        }
    }
    &-title {
        margin-bottom: 10px;
    }
    &-thumbnail {
        width: 30px;
        height: 30px;
        margin-right: 25px;

        @extend %default-transition;
    }
}

.main {
    &-logo {
        padding: 22px;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #fff;
    }
}

.form {
    &-control {
        display: block;
        width: 100%;
        margin-bottom: 25px;
        padding: 10px 12px;
        &--select {
            padding: 0;
        }
    }
    &-submit {
        text-transform: uppercase;
        color: #fff;
        background-color: color('formSubmit');
    }
    &-message {
        margin-bottom: 25px;
        list-style: none;
        text-decoration: none;
    }
    &-success-messages {
        color: color('success');
        @extend .form-message;
    }
    &-errors {
        color: color('danger');
        @extend .form-message;
    }
}
