@import 'reset';
@import 'fonts';
@import 'base';

// 'Problem' styles
.app {
  height: 100%;
}
button.ql-image {
  display: none !important;
}

.hide-selected-items {
  .selected-tag {
    display: none;
  }
}
.vdp-datepicker__calendar {
  width: 100% !important;
  .cell {
    height: 30px !important;
    line-height: 30px !important;
  }
}
