@import 'reset';
@import 'fonts';
@import 'base';

// 'Problem' styles
.app {
  height: 100%;
  font-family: Arial;
}

// style for all admin tables
.hide-selected-items {
  .selected-tag {
    display: none;
  }
}
.wrap-dropdown-table-head {
  position: absolute;
  top: 100%;
  left: -1px;
  z-index: 99;
  background-color: #f3f3f3;
  width: 250px;
  padding: 20px;
  border: 1px solid #a0a0a0;
  .selected-tag {
    display: none;
  }
  .dropdown-toggle {
    input {
      width: 208px !important;
      border: 1px solid #d5d5d5;
      background-color: #fff !important;
      font-style: italic;
      &:focus {
        border: 1px solid #d5d5d5;
        background-color: #fff !important;
      }
    }
  }
  .open-indicator {
    display: none;
  }
  .dropdown-menu {
    position: relative !important;
    background-color: #fff !important;
    margin-top: 20px !important;
    box-shadow: none !important;
    border: none !important;
  }
  &:focus {
    outline: none;
  }
}
.table-search-wrap {
  display: flex;
  align-items: center;
  .wrap-input {
    width: 90%;
    input {
      background-color: transparent;
      height: 30px;
      width: 100%;
    }
  }
}
.wrap-search-icon {
  padding: 20px;
  background-color: #f3f3f3;
}
.caption-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  cursor: pointer;
  &-text {
  }
  &-icon {
  }
}
.vdp-datepicker__calendar {
  width: 100% !important;
  .cell {
    height: 30px !important;
    line-height: 30px !important;
  }
}
.main-caption {
  font-size: 1.875rem;
  padding-left: 30px;
}
.hover-filter-element {
  border-color: #000 !important;
  background-color: #fffdd8 !important;
}
.dropdown-toggle {
  height: 40px;
  input {
    height: 40px!important;
  }
}
