@import '../settings/settings';

.app-header {
    margin-bottom: 120px;
    color: #fff;
    &-main {
        background-color: color('appHeaderMain');
        &__container {
            display: flex;

            align-items: center;
            justify-content: space-between;
        }
    }
    &-description {
        p {
            margin-bottom: 0;
        }
        &__link {
            font-weight: bold;
            text-decoration: none;
            color: #fff;
        }
    }
    &-info {
        padding: 12px 0;
        background-color: color('appHeaderInfo');
    }
    &-login {
        &__item {
            &--name {
                margin-right: 15px;
            }
        }
    }
}
