@import '../settings/settings';

.app-header {
    &-main {
        &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
