@import '../settings/settings';

.articles-list {
    &-heading {
        display: flex;
        margin-bottom: 40px;
        color: color('tableText');

        align-items: center;
        justify-content: space-between;
    }
    &-actions {
        display: flex;

        align-items: center;
    }
    &-inputwrap {
        display: inline-flex;
        height: 34px;
        border: 1px solid color('tableBorder');

        align-items: center;
    }
    &-input {
        display: inline-block;
        vertical-align: middle;
    }
    &-statusbar {
        display: table;

        align-items: center;
        &__block {
            display: table-cell;
            padding: 9px;
            border: 1px solid color('tableBorder');
        }
        &__contains {
            border-right: none;
            background-color: color('artcleListLibraryContainsTable');
        }
    }
    &-statuses {
        list-style: none;
        &__item {
            display: inline-block;
            margin-right: 10px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    &-add {
        &__btn {
            text-decoration: none;
            padding: 9px;
            color: #fff;
            background: none;
            background-color: color('articlesListActionBtn');
        }
    }
    &-search {
        &-col {
            width: 200px;
        }
    }
}
.articles-list-body{
  margin-bottom: 40px;
}
.wrap-confirmation-popup{
  top: 0;
  left: 0;
  position: absolute;
  z-index: 99;
  width: 100%;
}
.confirmation-popup{
  margin: 200px auto;
  width: 400px;
  height: 180px;
  padding: 20px;
  background-color: #F3F3F3;
  .caption{
    text-align: center;
    margin-bottom: 30px;
  }
  .body{
    margin-bottom: 20px;
  }
  .wrap-button{
    text-align: center;
    span{
      display: inline-block;
      padding: 10px 20px;
      cursor: pointer;
      color: #fff;
      &:first-child {
        background-color: #555555;
        margin-right: 10px;
      }
      &:last-child {
        background-color: #0a4bb7;
        margin-left: 10px;
      }
    }
  }
}
.wrap-loading-spiner{
  text-align: center;
  margin-bottom: 40px;
  span {
    display: inline-block;
    padding: 10px 20px;
    background-color: #E6E6E6;
  }
}
