@import '../settings/settings';
@import './conf-popup';

.articles-list {
    &-heading {
        display: flex;
        margin-bottom: 40px;
        color: color('tableText');

        align-items: center;
        justify-content: space-between;
    }
    &-actions {
        display: flex;
        opacity: 0;
        align-items: center;
    }
    &-selected-filters {
        display: flex;
        width: 50%;
        border: 1px solid #000;
        &-remove-all {
            width: 13%;
            padding: 20px 10px;
            background-color: #fffdd8;
            font-size: 16px;
            cursor: pointer;
        }
        &-body {
            width: 87%;
            padding: 10px 20px;
            border-left: 1px solid #d5d5d5;
            background-color: #fafafa;
            button {
                background-color: transparent;
                padding: 5px 10px;
                border: 1px solid #d5d5d5;
                border-radius: 50px;
                margin: 0 10px 10px 0;
                svg {
                    width: 9px;
                    color: #d5d5d5;
                }
            }
        }
    }
    &-inputwrap {
        display: inline-flex;
        height: 34px;
        border: 1px solid color('tableBorder');

        align-items: center;
    }
    &-input {
        display: inline-block;
        vertical-align: middle;
    }
    &-statusbar {
        display: table;

        align-items: center;
        &__block {
            display: table-cell;
            padding: 9px;
            border: 1px solid color('tableBorder');
        }
        &__contains {
            border-right: none;
            background-color: color('artcleListLibraryContainsTable');
        }
    }
    &-statuses {
        list-style: none;
        &__item {
            display: inline-block;
            margin-right: 10px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    &-add {
        &__btn {
            text-decoration: none;
            padding: 9px;
            color: #fff;
            background: none;
            background-color: color('articlesListActionBtn');
        }
    }
    &-search {
        &-col {
            width: 200px;
        }
    }
}
.column-id-head {
  max-width: 40px;
}
.column-search-head {
  max-width: 260px;
}
.column-lng-head {
  max-width: 150px;
}
.column-type-head {
  max-width: 80px;
  .dropdown {
    .dropdown-toggle {
      span {
        display: none !important;
      }
    }
  }
}
.column-topics-head {
  max-width: 90px;
}
.column-categories-head {
  max-width: 120px;
}
.column-access-head {
  max-width: 90px;
}
.column-companies-head {
  max-width: 100px;
}
.column-last-edited-head {
  max-width: 90px;
  position: relative;
}
.column-author-head {
  max-width: 100px;
}
.column-status-head {
  max-width: 90px;
}
.column-actions-head {
  max-width: 90px;
}
.articles-list-body{
  margin-bottom: 40px;
}
.wrap-confirmation-popup{
  top: 0;
  left: 0;
  position: absolute;
  z-index: 99;
  width: 100%;
}
.wrap-loading-spiner{
  text-align: center;
  margin-bottom: 40px;
  span {
    display: inline-block;
    padding: 10px 20px;
    background-color: #E6E6E6;
  }
}
.datepicker {
  position: absolute;
  left: calc(50% - 325px);
  width: 650px;
  height: 380px;
  background-color: #f3f3f3;
  padding: 20px 30px;
  &-statusbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    &-half {
      display: flex;
      width: 47%;
      justify-content: center;
      &-inner {
        text-align: left;
      }
      &-input {
        width: 100px;
        height: 30px;
        border: 1px solid #a0a0a0;
        background-color: #fff;
        line-height: 2;
        text-align: center;
      }
    }
  }
  &-calendar {
    display: flex;
    justify-content: space-between;
    &-half {
      width: 47%;
    }
  }
  &-control-panel {
    text-align: center;
    padding: 20px 0;
    button {
      background-color: #fff;
      border-radius: 3px;
      padding: 3px 5px;
      border: 1px solid #a0a0a0;
    }
  }
}
