@import '../settings/settings';

.ac {
    &-wrapper {
        position: relative;
        background-color: color('autocompleteInputBg');
    }
    &-input {
        display: block;
        width: 100%;
    }
    &-list {
        position: absolute;
        z-index: 1;
        width: 100%;
        &__item {
            @extend %default-transition;
        }
    }
}

.highlighted {
    color: color('highlightedArticleFont');
    background-color: color('highlightedArticleBg');
}
