@import '../settings/settings';

.ac {
    &-wrapper {
        position: relative;
        min-width: gridValue('autocompleteInput');
        margin: 0 auto;
    }
    &-results {
        position: absolute;
        z-index: 1;
        width: 100%;
        background-color: #f6f6f6;
    }
    &-input {
        display: block;
        width: 100%;
        height: 33.6px;
        font-size: 13px;
        line-height: normal;
        padding: 10px 50px 10px 10px;
        color: color('appHeaderSearchBg');
        border: none;
        background-size: 30px 30px;
        background-image: url('../../img/base/search-icon.svg');
        background-repeat: no-repeat;
        background-position: 98% center;
        &::-webkit-input-placeholder {
            color: #077380;
        }
        &::-moz-placeholder {
            color: #077380;
        }
        &:-moz-placeholder {
            color: #077380;
        }
        &:-ms-input-placeholder {
            color: #077380;
        }
    }
    &-blocktitle {
        color: color('highlightedArticleBg');
    }
    &-filters {
        display: flex;
        padding: 10px;

        align-items: center;
        flex-wrap: wrap;
        &-title {
            margin-right: 15px;
        }
        &-list {
            margin-bottom: 0;
            list-style: none;
            &__item {
                display: inline-block;
                vertical-align: middle;
                color: #000;

                @extend %default-transition;
                .form-control {
                    cursor: pointer;
                }
                /* &:not(:last-of-type) {
                    &::after {
                        display: inline-block;
                        width: 1px;
                        height: 15px;
                        margin: 0 10px;
                        content: '';
                        vertical-align: middle;
                        background-color: #000;
                    }
                } */
            }
        }
    }
    &-list {
        overflow: auto;
        max-height: 700px;
        margin-bottom: 0;
        &__item {
            display: flex;
            padding: 0 20px;
            cursor: pointer;
            color: #000;
            border-bottom: 2px solid #979797;

            align-items: center;
            @extend %default-transition;
            &:hover,
            &:focus,
            &.highlighted {
                color: color('highlightedArticleFont');
                outline: none;
                background-color: color('highlightedArticleBg');
            }
        }
    }
    &-content {
        padding-left: 20px;
    }
    &-more {
        margin-left: 20px;
        background-color: transparent;
    }
}
