@import '../settings/settings';

.content{
  h1{
    text-align: center;
    margin-top: 30px;
  }
}
.inner-content{
  max-width: 1300px;
  margin: 0 auto;
}
.wrap-img{
  img {
    max-width: 500px;
  }
}
.form-resource{
  img {
    max-width: 150px;
  }
}
