@import '../settings/settings';

.add-article {
  counter-reset: addArticleSection;
  position: relative;
  &-title {
    margin-bottom: 50px;
  }
  &-section {
    margin-bottom: 20px;
    padding: 14px;
    counter-increment: addArticleSection;
    background-color: color('articleDetails');

    @extend %clearfix;
    &__title {
      &::before {
      }
    }
  }
  &-btn {
    width: 130px;
    padding: 12px;
    color: #fff;
    background-color: color('addArticleBtn');
  }
  &-details {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    .form-elements {
      margin-right: 40px;

      flex-basis: 78%;
    }
  }
  &-thumbnail {
    flex-basis: 18%;
  }
  &-body {
    display: flex;
  }
  &-sections {
    margin-right: 20px;

    flex-basis: 80%;
  }
  &-actions {
    padding: 24px;
    background-color: color('articleDetails');

    flex-basis: 20%;
    .action-btn {
      display: block;
      width: 100%;
      margin-bottom: 15px;
    }
  }
  &-icon-info {
    position: absolute;
    left: 260px;
    top: 8px;
    width: 20px;
    height: 20px;
    color: #9F9F9F;
    &:hover {
      color: #282F54;
    }
  }
  &-tooltip {
    display:block;
    background: #FFFDD8;
    border: 1px solid #DADADA;
    color: #555A74;
    padding: 10px;
    position:absolute;
    left: 0px;
    top: 37px;
    width: 540px;
    height: 100px;
    opacity: 0;
    transition:.25s ease-in-out;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -7px;
      left:50%;
      margin-left:-8px;
      height:0;
      width:0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #FFFDD8;
      transition:.25s ease-in-out;
      opacity: 0;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -9px;
      left:50%;
      margin-left:-8px;
      height:0;
      width:0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #DADADA;
      transition:.25s ease-in-out;
      opacity: 0;
    }
  }
}
.add-article-icon-info:hover + .add-article-tooltip {
  opacity: 1;
}
.add-article-icon-info:hover + .add-article-tooltip:before {
  opacity: 1;
}
.add-article-icon-info:hover + .add-article-tooltip:after {
  opacity: 1;
}
.edit-article-resources {
  background-color: #F4F4F4;
  padding: 20px;
  .wrap-existing-resources {
    background-color: #E6E6E6;
    .existing-resource {
      padding: 14px;
      margin-bottom: 10px;
      .wrap-top-control-panel {
        text-align: right;
        span {
          color: red;
          font-style: italic;
          cursor: pointer;
        }
      }
      .resource-row {
        padding: 5px 0;
        textarea {
          width: 100%;
        }
      }
    }
  }
  .wrap-add-resource {
    .add-resource {
      .wrap-top-control-panel {
      }
      .wrap-top-control-panel {
        text-align: right;
        span {
          color: red;
          font-style: italic;
          cursor: pointer;
        }
      }
      .resource-row  {
        input {
          width: 100%;
        }
        textarea {
          width: 100%;
        }
      }
    }
    .wrap-bottom-control-panel {
      text-align: right;
      button {
        width: 130px;
        padding: 12px;
        color: #fff;
        background-color: #555555;
      }
    }
  }
}
.existed-file-logo {
  display: inline-block;
  background-color: #fffdd8;
  padding: 10px 20px;
  border: 1px solid grey;
  border-radius: 100px;
  span {
    padding: 0 10px;
  }
  button {
    background-color: #fffdd8;
  }
}
.wrap-title {
  display: flex;
  padding: 30px;
  background-color: #f4f4f4;
  margin-bottom: 30px;
  .title {
    width: 85%;
  }
  .statusbar {
    span {
      padding: 5px 10px;
      background-color: #dcdcdc;
      margin-right: 15px;
      &:last-child {
        font-style: italic;
      }
    }
  }
  .control-panel {
    width: 15%;
    .wrap-button {
      display: flex;
      flex-direction: column;
      button {
        width: 100%;
        text-align: left;
        padding: 10px 20px 10px 20px;
        color: #fff;
        margin-bottom: 10px;
        vertical-align: middle;
        &:first-child {
          background-color: #0A74B7;
        }
        &:last-child {
          background-color: #B70A37;
        }
        .icon-btn-ctr {
          margin: 0 5px 2px 0;
        }
      }
    }
  }
}
.wrap-preview-article {
  position: absolute;
  width: 1000px;
  left: 150px;
  top: 600px;
  border: 2px solid grey;
  border-radius: 5px;
  z-index: 99;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
  padding: 30px;
  background: #fff;
  .close-preview-button {
    position: absolute;
    z-index: 99;
    right: -30px;
    top: -30px;
  }
  h3 {
    font-size: 36px;
    margin: 30px 0;
  }
  .wrap-main-content {
    .text-content {
      display: inline-block;
      width: 60%;
      vertical-align: top;
      font-size: 18px;
      line-height: 24px;
    }
    .graphic-content {
      padding: 20px;
      display: inline-block;
      width: 40%;
      vertical-align: top;
      .wrap-main-img {
        margin-bottom: 30px;
        img {
          width: 100%;
        }
      }
      .wrap-resource {
        font-size: 16px;
        line-height: 20px;
        iframe {
          width: 100%;
        }
      }
    }
  }
}
.form-group {
  display: flex;
}
.form-element-half {
  width: 47%;
}
.column-type-head {
  span{
    display: none;
  }
}

.edit-article-log {
  background-color: #f4f4f4;
  margin-top: 20px;
  padding: 20px;
  h2 {
    font-size: 1.5rem;
    color: #B70A37;
  }
}
.table-log {
  th,
  td {
    position: relative;
    vertical-align: middle;
    color: color('tableText');
    border-bottom: 1px solid color('tableBorder');
    padding: 10px;
    text-align: left;
  },
  th {
    font-size: 1rem;
    color: #707489;
  },
  td {
    font-size: 0.875rem;
  },
  &-action {
    max-width: 600px;
    min-width: 600px;
  }
  &-date {
    max-width: 188px;
    min-width: 188px;
  }
  &-user {
    max-width: 188px;
    min-width: 188px;
  }
}
