@import '../settings/settings';

.inf-msgs {
  margin-top: 20px;
}
.msg {
  //position: absolute;
  //z-index: 99;
  //width: 1300px;
  //left: 390px;
  //top: 1200px;
  //background-color: #c7f5b8;
  max-width: 1300px;
  margin: 20px auto;
  padding: 15px;
  span {
  }
}
.success {
  background-color: #bffab7;
  border: 1px solid #9be093;
}
.warning {
  background-color: #bffab7;
  border: 1px solid #ff9a9a;
}
