@import '../settings/settings';

$innerPaddingRight: 32px;

.popup {
    display: block;
    overflow: auto;
    color: #000;

    @extend %overlay;
    &__inner {
        padding: 52px $innerPaddingRight $innerPaddingRight $innerPaddingRight;
        background-color: color('autocompleteInputBg');

        @extend %overlay-inner;
    }
    &-title {
        text-transform: uppercase;
    }
    &-infolinks {
        padding: 0;
        list-style: none;
        text-align: center;
        &__item {
            &:not(:last-of-type) {
                margin-bottom: 15px;
            }
        }
        &__link {
            text-decoration: none;
        }
    }
    &-close {
        &-btn {
            position: absolute;
            top: 16px;
            right: $innerPaddingRight;
            border: none;
            background-color: transparent;
        }
    }
}
