@import './conf-popup';

.categories-list{
  display: inline-block;
  width: 58%;
  margin-right: 2%;
  padding: 30px;
  vertical-align: top;
  background-color: #F4F4F4;
  h2 {
    font-size: 20px;
    line-height:24px;
  }
}
.wrap-add-category-form {
  display: inline-block;
  width: 38%;
  margin-left: 2%;
  padding: 30px;
  vertical-align: top;
  background-color: #F4F4F4;
  h3 {
    font-size: 18px;
    line-height: 20px;
  }
  .input-grout {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .select-grout {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .textarea-group{
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .input-category-name {
    width: 100%;
    height: 30px;
  }
  textarea {
    width: 100%;
  }
}
.wrap-categories-list{
  width: 1300px;
  margin: 0 auto;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
  h1 {
    font-size: 24px;
    line-height:28px;
  }
}
.categories-list-actions{
  display: inline-block;
  width: 300px;
  height: 40px;
  .categories-list-inputwrap{
    display: inline-block;
    width: 40px;
    height: 40px;
  }
}
.categories-list-body{
  font-size: 14px;
  line-height: 16px;
  background-color: #fff;
}
.categories-list-search-col{
  width: 300px;
}
input.table-search {
  height: 35px;
}
.wrap-control-panel{
  button {
    display: block;
    font-size: 16px;
    line-height: 18px;
  }
  .btn-cancel{
    float: left;
    width: 100px;
    height: 40px;
    background-color: #D5D5D5;
  }
  .btn-conf {
    float: right;
    width: 150px;
    height: 40px;
    background-color: #282F54;
    color: #fff;
  }
}
.wrap-edit-form {
  background-color: #FFFDD8;
  padding: 10px;
  .row {
    text-align: center;
    .wrap-title-input {
      display: inline-block;
      width: 40%;
      vertical-align: middle;
      margin-right: 5%;
      input {
        width: 100%;
      }
    }
    .wrap-desc-textarea {
      display: inline-block;
      width: 40%;
      vertical-align: middle;
      margin-left: 5%;
      textarea {
        width: 100%;
      }
    }
  }
}
.wrap-table-control-panel {
  text-align: center;
  padding: 10px 0;
  button {
    display: inline-block;
    padding: 8px 15px;
    &:first-child {
      background-color: #D5D5D5;
      margin-right: 30px;
    }
    &:last-child {
      background-color: #0A74B7;
      margin-left: 30px;
      color: #ffffff;
    }
  }
}
