@import '../settings/settings';
@import './conf-popup.scss';

.users-list {
    &-heading {
        display: flex;
        margin-bottom: 40px;
        color: color('tableText');
        align-items: center;
        justify-content: flex-end;
    }
    &-actions {
        display: none;
        //display: flex;
        align-items: center;
    }
    &-inputwrap {
        display: inline-flex;
        height: 34px;
        border: 1px solid color('tableBorder');

        align-items: center;
    }
    &-input {
        display: inline-block;
        vertical-align: middle;
    }
    &-statusbar {
        display: table;
        margin: 0 auto;
        align-items: center;
        &__block {
            display: table-cell;
            background-color: #fafafa;
            padding: 9px;
            border: 1px solid color('tableBorder');
        }
        &__contains {
            border-right: none;
            background-color: color('artcleListLibraryContainsTable');
        }
    }
    &-selected-filters {
      display: flex;
      width: 40%;
      border: 1px solid #d5d5d5;
      margin-right: 200px;
      &-remove-all {
        width: 20%;
        padding: 20px 10px;
        background-color: #f3f3f3;
        cursor: pointer;
        font-style: italic;
      }
      &-body {
        width: 80%;
        padding: 10px 20px;
        border-left: 1px solid #d5d5d5;
        background-color: #fafafa;
        button {
          background-color: transparent;
          padding: 3px 10px;
          border: 1px solid #d5d5d5;
          border-radius: 50px;
          margin: 0 10px 10px 0;
          svg {
            width: 9px;
            color: #d5d5d5;
          }
        }
      }
    }
    &-statuses {
        list-style: none;
        &__item {
            display: inline-block;
            margin-right: 10px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    &-add {
        margin-left: -120px;
        &__btn {
            text-decoration: none;
            padding: 9px;
            color: #fff;
            background: none;
            background-color: color('articlesListActionBtn');
        }
    }
    &-search {
        &-col {
            width: 200px;
        }
    }
}
.column-id-head {
  min-width: 45px;
  max-width: 45px;
}
.column-search-head {
  min-width: 350px;
  max-width: 350px;
}
.column-email-head {
  min-width: 260px;
  max-width: 260px;
}
.column-company-head {
  min-width: 190px;
  max-width: 190px;
}
.column-role-head {
  min-width: 170px;
  max-width: 170px;
}
.column-last-active-head {
  min-width: 130px;
  max-width: 130px;
}
.column-actions-head {
  min-width: 155px;
  max-width: 155px;
}
.add-new-user {
  position: absolute;
  //width: 100%;
  //height: 1000px;
  color: #555555;
  //background-color: rgba(0, 0, 0, 0.5);
    &-form {
      position: absolute;
      z-index: 99;
      width: 550px;
      left: 375px;
      top: 0px;
      padding: 50px 30px;
      background-color: #f4f4f4;
      h3 {
        font-size: 1.5625rem;
      }
    }
  &-body-row {
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    margin-bottom: 20px;
    label {
      padding-left: 10px;
    }
    input {
      width: 100%;
      height: 40px;
      padding: 5px 10px;
      border: 1px solid #d5d5d5;
      font-size: 18px;
      font-style: italic;
      color: #777777;
      &::placeholder {
        color: #777777;
      }
    }
    &-half-body {
      display: inline-block;
      font-size: 22px;
      line-height: 26px;
      vertical-align: top;
      width: 50%;
      &:first-child {
        padding-right: 10px;
      }
      &:last-child {
        padding-left: 10px;
      }
      &-errors {
        font-size: 16px;
        line-height: 20px;
        color: #FF0000;
        text-align: center;
        padding: 5px;
      }
    }
    &-inner-data {
      font-size: 22px;
      line-height: 26px;
      vertical-align: top;
    }
  }
  &-control-panel {
    text-align: center;
    button {
      display: inline-block;
      padding: 10px 0;
      width: 170px;
      font-size: 1rem;
      &:first-child {
        margin-right: 20px;
        background-color: #d5d5d5;
      }
      &:last-child {
        margin-left: 20px;
        color: #fff;
        background-color: #282f54;
        span {
          padding-left: 5px;
        }
      }
    }
  }
  &-server-validation {
    margin-top: 20px;
    span {
      display: block;
      font-size: 18px;
      color: #FF0000;
      text-align: center;
    }
  }
}
.edit-user {
  padding: 20px 10px;
  background-color: #fffdd8;
  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    input {
      width: 100%;
      height: 40px;
      padding: 10px 5px;
      font-size: 0.875rem;
    }
    &-ceil {
      width: 15%;
      .v-select {
        border: 1px solid #d5d5d5;
        background-color: #fff;
        height: 40px;
      }
    }
  }
  &-control-panel {
    text-align: center;
    margin-bottom: 20px;
    button {
      display: inline-block;
      padding: 10px 0;
      width: 170px;
      font-size: 1rem;
      &:first-child {
        margin-right: 20px;
        background-color: #d5d5d5;
      }
      &:last-child {
        margin-left: 20px;
        color: #fff;
        background-color: #0a74b7;
      }
    }
  }
}
.caption-head-inner-text {
  padding: 15px 100px 15px 0;
}

