$colors: (
   autocompleteInputBg: #DCDCDB,
   highlightedArticleBg: #2051A4,
   autocompleteItemBorder: #979899,
   highlightedArticleFont: #fff,
   appHeaderMain: #050505,
   appHeaderInfo: #1F1F21,
   appHeaderSearchBg: #2451A3,
);

@function color($color) {
    @return map-get($colors, $color);
}
