$colors: (
   autocompleteInputBg: #DCDCDB,
   highlightedArticleBg: #4260A1,
   autocompleteItemBorder: #979899,
   highlightedArticleFont: #fff,
   appHeaderMain: #050505,
   appHeaderInfo: #1F1F21,
   appHeaderSearchBg: #2051A4,
   success: #40A32A,
   danger: #bb2f2f,
);

@function color($color) {
    @return map-get($colors, $color);
}
