$colors: (
   autocompleteInputBg: #DCDCDB,
   highlightedArticleBg: #4260A1,
   autocompleteItemBorder: #979899,
   highlightedArticleFont: #fff,
   appHeaderMain: #050505,
   appHeaderInfo: #1F1F21,
   appHeaderSearchBg: #2051A4,
   tableBorder: rgba(60,60,60,0.26),
   artcleListLibraryContainsTable: #F3F3F3,
   articlesListActionBtn: #282F54,
   tableCrudBtn: #A0A0A0,
   tableText: #585858,
   success: #40A32A,
   danger: #bb2f2f,
);

@function color($color) {
    @return map-get($colors, $color);
}
