p{
  margin-bottom: 0;
}
/*--------IMAGE----------*/
.wrapper{
  width: 100%;

}


  /*--------BACKGROUND-Main---------------*/
.picture{
  background-image: url('../../img/main/AskPageMain.png');
  width: 100%;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  height: 582px;
  margin-bottom: -180px;
}
/*-------END-IMAGE-------*/

/*-------FORM------------*/

.container{
  width: 930px;
  margin:0 auto;
  padding: 20px;
  background-color: #fff;
  h1 {
    color: #077280
  }
}

.form-container{
  width: 930px;
  background-color:#dddcdc;
  margin:0 auto;
  margin-bottom: 30px;
}

.style-form{
  padding: 33px 52px 24px 52px;
}

.header-form{
  margin-bottom: 17px;
  color:#077280;
  font-weight: 700;
}

.message{
  margin-bottom: 9px;
}

.textfield{
  margin-bottom: 14px;
}

.header-form-text{
  width: 100%;
}

.header-form-text.title{
  height: 35px;
  padding-left: 11px;
}

.header-form-text.textarea{
  height: 183px;
}

.submit{
  background-color: #077280;
  width: 188px;
  height: 42px;
  color: #fff;
  font-weight: bold;
  font-size: 0.75rem;
  cursor: pointer;
  border: none;
}

.information{
  padding: 0 50px;
  text-align: center;
  line-height: 1.38;
  margin-bottom: 34px;
}
/*------END-FORM------*/

/*------CLIENT------*/

.client {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &-item {
    width: 280px;
    margin-bottom: 30px;
    &-logo {
      height: 210px;
      border: 3px solid #077280;
      margin-bottom: 20px;
    }
    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
.client-block{
  width: 930px;
  margin: 0 auto;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
}

.logo-wrap{
  margin: 0 auto;
  padding: 68px 29px 68px 36px;
  width: 100%;

}

.client-block-item-logo{
  width: 280px;
  height: 210px;
  border: 3px solid #077280;
  margin-bottom: 20px;
}

.gray.rectangle{
  width: 178px;
  height: 80px;
  margin: 0 auto;
  background-color: #d8d8d8;
  position: relative;
  top: 30%;
  display: block;
}

.client-block-item-logo-name{
  margin-bottom: 8px;
  font-weight: 400;
}

.client-block-item{
  justify-content: space-between;
  //margin-bottom: 39px;
  //margin-right: 24px;
}

.client-block-item:nth-child(3n){
  margin-right: 0;
}


.client-block-item-logo-name-chat{
  display: block;
}

.client-block-item-logo-name-chat-icon{
  margin-left: 5px;
  width: 36px;
  height:35px;
  background: url("../../img/main/iconChat.png");
  background-repeat: no-repeat;
  display: block;
}

/*-------------Media-query----------------*/

/*------Desktops------*/
@media screen and (max-width: 1200px) and (min-width: 992px){
}
/*------Tablets-------*/
@media screen and (max-width: 991px) and (min-width: 768px)  {
}
/*---Landscape phones---*/
@media screen and (max-width: 767px) and (min-width: 544px)  {
}
/*---Portrait-phones ---*/
@media screen and (max-width: 543px)   {
}

























