@import './settings/settings';

.home{
  &-info{
    font-family: 'Arial';
    padding-top: 35px;
    padding-bottom: 40px;
    &-list{
      list-style: none;
      margin: 0 -21px;
      display: flex;
      flex-wrap: wrap;
      &__item {
        text-align: center;
        margin: 0 21px;
        padding-top: 40px;
        &:last-of-type {
          padding-left: 35px;
          padding-bottom: 35px;
          border-left: 2px solid #979797;
          .home-info-list__link {
            background-color: #1c1c1d;
          }
        }
      }
      &__link{
        text-decoration: none;
        display: inline-block;
        color: #fff;
        font-weight: bold;
        font-size: 0.75rem;
        min-width: 138.7px;
        text-align: center;
        padding: 10.5px 10px;
        background-color: #077280;
        max-width: 150px;
      }
      &-iconwrap{
        text-align: center;
        margin-bottom: 39px;
        height: 105px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

#main_picter {
  background: url("../../img/main/main_picter.png") no-repeat center center;
  background-size: cover;
  height: 450px;
  width: 100%;
  margin: 0 auto;
}

#header_picture {
  background: url("../../img/main/header_picter.png") no-repeat center center;
  background-size: cover;
  height: 250px;
  width: 100%;
  margin: 0 auto;
}
#content {
  padding-top: 40px;
  padding-bottom: 50px;
  .content-img {
    height: 105px;
    width: auto;
  }
  .button {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    background-color: $dark-aquamarine;
    padding: 9px 0;
    color: $white;
    margin: 40px 0 0 0;
  }
  .button-outer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .smaller-button {
    margin-right: 30px;
    margin-left: 30px;
  }
  button.black {
    background-color: $dark;
  }
  .line {
    border-left: solid 2px #979797;
  }
}
